<div class="cuisine">
  <%= link_to "商品一覧", "/admin/cuisines" %>
</div>

<h1>商品編集</h1>
<%= form_tag("/admin/cuisines/#{@cuisine.id}", method: :PUT ) do %>
  <div class="group">
    <div class="container">
      <label>name</label>
      <textarea name="name"><%= @cuisine.name.chomp %></textarea>
    </div>

    <div class="container fix">
      <label>price</label>
      <textarea name="price"><%= @cuisine.price %></textarea>
    </div>

    <div class="container">
      <label>detail</label>
      <textarea name="text"><%= @cuisine.text %></textarea>
    </div>
  </div>

  <div class="submit">
    <%= button_tag "Up date" %>
  </div>
<% end %>