<div class="cuisine">
  <%= link_to "Cuisine new", "/admin/cuisines/new" %>
</div>

<div id="product_list">
  <% @cuisines.each do |cuisine| %>
    <div class="card">
      <%= image_tag cuisine.image.url, class: "image" %>

      <div class="content">
        <div class="name">
          <%= cuisine.name %>
        </div>

        <div class="detail">
          <%= cuisine.text  %>
        </div>
      </div>

      <div class="footer">
        <div class="price">
          <%= cuisine.price  %>
        </div>

        <div class="group">
          <div>
            <%= link_to "編集", "/admin/cuisines/#{cuisine.id}/edit", class: "edit" %>
          </div>

          <div>
            <%= link_to "削除", "/admin/cuisines/#{cuisine.id}", method: :delete , 'data-confirm' => "本当に消してもよろしいですか？"%>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>