<div class="product_registration_tag">
  <%= link_to "商品登録", "/admin/cuisines/new" %>  
</div>
<div id="product_list">
  <% @cuisines.each do |cuisine| %>
    <div class="card">
      <%= image_tag cuisine.image.url, class: "product_image" %>
      <div>
        <%= cuisine.name %>
      </div>
      <div>
        <%= cuisine.text %>
      </div>
      <div class="cuisine_price">
        <%= cuisine.price %>
      </div>
      <div class="product_list_edit_delete_wrap">      
        <%= link_to "編集", "/admin/cuisines/#{cuisine.id}/edit" %>
        <%= link_to "削除", "/admin/cuisines/#{cuisine.id}", method: :delete %>
      </div>
    </div>
  <% end %>
</div>