<div>
  <p>商品登録</p>
  <%= form_with model: [:admin, @cuisine] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :price %>
    <%= f.email_field :price %>
    <%= f.label :detail %>
    <%= f.text_field :text %>
    <%= f.label :img %>
    <%= f.text_field :image %>
    <%= f.submit '登録' %>
  <% end %>
  
</div>