<%= form_for :session, url: login_path do |f| %>
  <div class="user_new_registration">
    <div class="user_new_label_form_group">
      <div class="common_label_form_group label_group">    
        <%= f.label :email %>
        <%= f.label :password %>
      </div>
      <div class="common_label_form_group form-group">
        <%= f.email_field :email, placeholder: "登録したメールアドレスを入力してね！" %>
        <%= f.password_field :password, placeholder: "登録したパスワードを入力してね！" %>
      </div>
    </div>
    <div class="user_new_submit">
      <button type="submit" class="btn">Sign In</button>
    </div>
  </div>
<% end %>
