<h1>管理者 Sign in</h1>
  <%= form_for :session, url: admin_administrator_login_path  do |f| %>
    <div class="input_label_group">
      <div>
        <%= f.label :email, class: "email_label"%>
        <%= f.email_field :email, class: "input_common", placeholder: "メールアドレスを入力してね！" %>
      </div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "パスワードを入力してね！" %>
      </div>

      <div class="submit" >
        <button type="submit" class="btn">Sign in</button>
      </div>
    </div>
  <% end %>
</div>
