<div>
  <h1>管理者ログイン画面</h1>
  <%= form_for :session, url: admin_administrator_login_path  do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "ユーザー名を入力してね！" %>
    <%= f.label :email%>
    <%= f.email_field :email, placeholder: "メールアドレスを入力してね！" %>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "パスワードを入力してね！" %>
    <%= f.label :confirmation %>
    <%= f.password_field :password, placeholder: "もう一度パスワードを入力してね！" %>
    <%= button_to "ログイン" %>
  <% end %>
</div>