<div id="admin_login">
  <%= form_for :session, url: admin_administrator_login_path  do |f| %>
    <div class="admin_login_label_form_group">
      <div class="admin_loin_label_wrap">
        <%= f.label :email%>
        <%= f.label :password %>
      </div>
      <div class="admin_login_form_wrap">
        <%= f.email_field :email, placeholder: "メールアドレスを入力してね！" %>
        <%= f.password_field :password, placeholder: "パスワードを入力してね！" %>
      </div>
    </div>
    <%= button_to "ログイン" %>
  <% end %>
</div>