<table>
  <tr>
    <th>Number</th>
    <th>Quantity</th>
    <th>Name</th>
    <th>Day and Time</th>
    <th>Delete</th>
  </tr>

  <% @order.each do |order| %>
    <tr>
      <td><%= order.user_id%></td>
      <td><%= order.quantity %></td>
      <td><%= order.cuisine_name %></td>
      <td><%= order.created_at.to_s(:datetime_jp)%></td>
      <td><%= link_to "削除", "/", method: :delete %></td>
    </tr>
  <% end %>
</table>