<div id="topics_link_group">
  <div>
    <%= link_to "オーダー", admin_orders_path %>
  </div>
  <div>
    <% if current_user && current_user.admin %>
      <%= link_to "管理者新規登録","/admin/users/new" %>
    <% end %>
  </div>
  <div>
    <%= link_to "ユーザ管理", "/admin/users" %>
  </div>
  <div>
    <%= link_to "商品管理", "/admin/cuisines/new" %>
  </div>
  <div>
    <%= link_to "ログアウト", "/admin/logout", method: :delete %>
  </div>
</div>