<%= form_with model: @user do |f| %>
  <div class="user_new_registration">
    <div class="user_new_label_form_group">
      <div class="common_label_form_group label_group">    
        <%= f.label :name %>
        <%= f.label :email %>
        <%= f.label :password %>
        <%= f.label :confirmation %>
      </div>
      <div class="common_label_form_group form-group">
        <%= f.text_field :name, placeholder: "ユーザ名を入力してね！" %>
        <%= f.email_field :email, placeholder: "メールアドレスを入力してね！" %>
        <%= f.password_field :password, placeholder: "パスワードを入力してね" %>
        <%= f.password_field :password, placeholder: "もう一度パスワードを入力してね！" %>
      </div>
    </div>
    <div class="user_new_submit">
      <button type="submit" class="btn">registration</button>
    </div>
  </div>
<% end %>

