 <%= link_to "Sign Out", "/logout", method: :delete, class: "front_common_link" %>
<div>
  <div id="product_list">
    <% @cuisines.each do |cuisine| %>
      <div class="card">
        <%= image_tag cuisine.image.url, class: "product_image" %>
        <div>
          <%= cuisine.name %>
        </div>
        <div>
          <%= cuisine.text  %>
        </div>
        <div class="cuisine_price">
          <%= cuisine.price  %>
        </div>
      </div>
    <% end %>
  </div>
</div>