<h1>Admin registration</h1>
<%= form_with model: [:admin, @user] do |f| %>
  <div class="input_label_group">
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, class: "input_common", placeholder: "名前を入力してね" %>
    </div>

    <div>
      <%= f.label :email, class:"email_label" %>
      <%= f.email_field :email, class: "input_common", placeholder: "メールアドレスを入力してね" %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "パスワードを入力してね" %>
    </div>

    <div>
      <%= f.label :admin %>
      <%= f.number_field :admin, class: "number", placeholder: "数字を選択してね", min: "0", max: "1" %>
    </div>
  </div>

  <div class="submit">
    <button type="submit">Sign up</button>
  </div>
<% end %>