<!DOCTYPE html>
<html>
  <head>
    <title>OrderSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <header>
      <div class="link_wrapper">
        <div class="main_logo_group">
          <a href="/admin/orders">
            <%= image_tag "usi.png", class: "main_logo_img" %>
            <p>Meat Prak</p>
          </a>
          <p>Cherish deliciousness</p>
        </div>
      </div>
      <% if logged_in? %>
        <div id="topics_link_group">
          <div>
            <%= link_to "Order", admin_orders_path %>
          </div>

          <div>
            <% if current_user && current_user.admin %>
              <%= link_to "Admin registration","/admin/users/new" %>
            <% end %>
          </div>

          <div>
            <%= link_to "Users", "/admin/users" %>
          </div>

          <div>
            <%= link_to "Cuisines", "/admin/cuisines" %>
          </div>

          <div>
            <%= link_to "Sign out", "/admin/logout", method: :delete %>
          </div>
        </div>
      <% end %>
    </header>

    <div class="main-content">
      <%= yield %>

      <script>
        $(function(){
          $(".alert").fadeOut(5000);
        });
      </script>
    </div>

    <footer>
      <p>(C) 2021 Self Order System.</p>
    </footer>
  </body>
</html>
