<!DOCTYPE html>
<html>
  <head>
    <title>OrderSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <header>
      <div class="link_wrapper">
        <div class="main_logo_group">
          <a href="/">
            <%= image_tag "main-logo", class: "main_logo_img" %>
          </a>
          <p>- Cherish deliciousness</p>
        </div>

        <div class="link_group">
          <% if logged_in? %>
            <%= link_to "Sign Out", "/logout", method: :delete, class: "front_common_link" %>
          <% else %>
            <%= link_to "Sign UP","/users/new" %>
            <%= link_to "Sign In", "/login" %>
          <% end %>
        </div>
      </div>
    </header>

    <div class="main-content">
      <%= yield %>

      <script>
        $(function(){
          $(".alert").fadeOut(5000);
        });
      </script>
    </div>

    <% if should_show_footer? %>
      <footer>
        ここフッターの領域な
      </footer>
    <% end %>
  </body>
</html>
