<!DOCTYPE html>
<html>
  <head>
    <title>OrderSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
      <div class="link_wrapper">
        <div class="main_logo_group">
          <a href="/">
            <%= image_tag "main-logo", class: "main_logo_img" %>
          </a>
          <p>- Cherish deliciousness</p>
        </div>
      </div>
    <%= yield %>
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>
